  <link rel="stylesheet" href="/templates/login/login.css"/>

  
     <div class="auth-actions"> 
  
    <form class="form" id="login-form">
       <label class="form__label">Enter your Email</label>

<div class="form__email-wrapper">
  
  <div 
    class="form__email"
    id="signup-form__email-input">
      <div data-import="/components/input/input.html"></div>
  </div>
       <div data-import="components/password/password.html"></div>
          </div>          
    </form>
    
  <div>
      <div data-import="/components/button/button.html" class="button__next" data-text="Next Step"></div>
  </div>
