:root{
--bg: #F7F9FA;
--black: #141B2B;
--text: #EAEBED;
--box-sizing: border-box;
--input-radius:12px;
--box-shadow: #F3F4F6;
--text:#9EA3AC;
--black-text:#101828;
--font:ui-sans-serif, system-ui, sans-serif;
--white:#FFFFFF;
}

.main-container{
    height:auto;
    width: full;
    align-items:center;
    justify-items: center;
    padding: 4px;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #f9fafb, #f3f4f6);
}