.img-container{
    width: 80px;
    height: 80px;
    background-color: #4743F8;
    border-radius: var(--card-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container.square-check{
    width: 40px;
    height: 40px;
    position: relative;
    left: 12px;
}

.img-container--circle{
    width: 24px;
    height: 24px;
    position: relative;
    bottom: 36px;
    left: 14px;
}