<link rel="stylesheet" href="components/password/password.css" />

<div class="password-wrapper">
  <label class="form__label">Password</label>

  <div class="password-wrapper__contents">
    <!-- This span imports the actual input later -->
    <span
      data-import="components/input/input.html"
      data-placeholder="......"
      class="form__password">
    </span>

    <span class="password-wrapper__icons">
      <img src="/assets/public/images/password.svg" alt="password" class="first-icon" />
      <img src="/assets/public/images/open-password.svg" alt="open-password" class="secon-icon" />
    </span>
  </div>
</div>

