.password-wrapper__contents {
  display: flex;
  align-items: center;
  position: relative;
}

.password-wrapper__icons {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

.password-wrapper .secon-icon {
  display: none;
  margin-right: 30px;
}

.password-wrapper.show-password .first-icon {
  display: none;
   margin-right: 30px;
}

.password-wrapper.show-password .secon-icon {
  display: inline;
}
