
.password-wrapper__contents{
    display: flex;
}

.password-wrapper__contents img{
position: relative;
right: 50px;
top: 10px;
}

.password-wrapper #secon-icon {
  display: none;
}

.password-wrapper.show-password #first-icon {
  display: none;
 
}

.password-wrapper.show-password #secon-icon {
  display: inline;
}
