<link rel="stylesheet" href="templates/auth/auth.css" />

<div class="auth">
  <div data-import="components/logo/logo.html" class="header__logo auth-login"></div>
    <div class="login__container" id="login-form">
       <div data-import="components/loginheader/loginheader.html"></div>
      <div data-import="templates/login/login.html"></div>
    </div>

  <div
    id="signup-form"
    data-import="templates/signup/signup.html">
      <div data-import="components/signupheader/signupheader.html"></div>
  </div>

  <span
    data-import="components/button/button.html"
    data-text="Login"
    class="auth-login__button"
    id="login-btn">
  </span>

  <span
    data-import="components/button/button.html"
    data-text="Signup"
    class="auth-signup__button"
    id="signup-btn">
  </span>
</div>

<div class="button">
  <div data-import="/components/help/help.html" class="button__help" data-text="Help?"></div>
</div>

<div data-import="/components/button/button.html" class="button__create" data-text="Next Step"></div>
