.auth{
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 40;
    width: 448px;
    height: 618px;
    background-color: var(--white);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 16px;
    box-shadow:rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 25px 50px -12px
}

.auth-login__button{
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 8px;
}

#auth__signup-header{
    display: none;
    position: relative;
    bottom: 142px;
}

 #auth__signup-header h1{
    bottom: 38px;
 }

 #auth__signup-header p{
top: -44px;
left: -20px;
 }

 #signup-form{
    display: none;
    position: relative;
    bottom: 108px;
 }

.auth-signup__button{
    display: inline-block;
    width: auto;
    height: auto;
    pointer-events: auto;
    cursor: pointer;
}

.auth__logo{
    display: flex;
    justify-content: center;
}

.login__container h1, p{
    display: block;
    position: relative;
    bottom: 50px;
    top: 70px;
    left: 68px;
}

.login__container p{
top: 60px;
}

.login__container h1{
    left: 102px;
}

.auth__buttons{
  position: fixed;
  bottom: 390px;  
}

.auth-login__button ._button,
.auth-signup__button ._button{
    height: 29px;
  
    font-size: 14px;
    width: 196px;

.auth-actions {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 32px;
    z-index: 100;
}
}

.auth_help-next-button{
  display: flex;
  position: fixed;
  bottom: 70px;
  gap: 10px;
}

.auth_help-next-button img{
 display: flex;
 position: fixed;
 top: 510px;
} 

#login-form{
position: relative;
top: 30px;
}

#login-form h1, p{
    top: 116px;
}

#login-form p{
     top: 102px;
}

#auth__login-header{
    position: relative;
    bottom: 180px;
}

.button__next{
    display: block;
    position: relative;
    top: 96px;
    left:220px;
    /* background-color: #F1B300; */
}

.button__create{
    display: none;
}

.footer {   
text-align: center;
position: fixed;
margin-top: 210px;   
}

.footer p{

white-space: nowrap;
font-size: 14px;
margin-left: -82px;
}

.footer span {
  color: var(--text);
  display: block;
  margin-top: 120px;  
  margin-left: 30px; 
}


