.main{
    width: full;
    height: 645px;
    background-color: #F2F3F4;
    border-bottom: 1px solid #E2E8F0;
    display: flex;
    position: relative;
}

/* .logo{
   width: 28px;
   height: 28px;
} */

.side-bar__heading{
  font-size: 16px;
  font-weight: bold;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

.side-bar{
    background-color: #FFFFFF;
    width: 255px;
    height: 645px;
}

.side-bar__task-master{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E2E8F0;
  height: 4rem;
  position: static;
}

.side-bar__task-master h1{
  position: relative;
  right: 40px;
}

.arrow{
  position: relative;
  right: 20px;
}

.img-container{
    width: 40px;
    height: 40px;
    background-color: #4743F8;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container.square-check{
    width: 20px;
    height: 20px;
   display: flex;
   justify-content: center;
   align-content: center;
}

.img-container--circle{
    width: 24px;
    height: 24px;
    position: relative;
    bottom: 36px;
    left: 14px;
}

.side-bar--user-details{
  border-bottom: 1px solid #E2E8F0;
  height: 4rem;
  display: flex;
  align-items: center;
}

.side-bar--user-details__user p{
  color:#7D7292; 
}

.side-bar__user-details-name{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3452FA;
  font-family: ui-sans-serif, system-ui;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.side-bar--user-details__user {
  display: flex;
  flex-direction: column; 
  line-height: 0.05; 
  margin-left: 10px; 
  font-size: 14px;
}

.side-bar--user-details__user p{
  position: relative;
  bottom: 10px;
}

.side-bar--user-details__user h2{
  position: relative;
  top:4px
}

.sidebar__other-details{
  flex: 1 1 0%;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.side-bar__dashboard{
  width: 223px;
  height: 36px;
  display: inline-flex;
  align-items:center;
  white-space:nowrap;
  gap: 10px;
  background-color: white;
  border: none;
}

.side-bar__dashboard h3{
  color:#7D7292;
  font-size: 14px;
  font-weight: 500;
}

.side-bar__dashboard:hover {
  background-color: #EEF2FF;
  color: rgb(139, 139, 248);
  border-radius: 5px;
}

.side-bar__dashboard:active{
background-color: #EEF2FF;
color: rgb(139, 139, 248);
font-family: ui-sans-serif, system-ui;
border-radius: 5px;
}

.main-dashboard{
  width: 1031px;
  height: 176px;
  display: flex;
  justify-content: space-evenly;
  flex: 1 1 0%;
  /* overflow-y: auto; */
  padding: 32px;
  position: static;
  z-index: auto;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  transition: all;
  font-family: ui-sans-serif, system-ui;
  font-size: 16px;
  line-height: normal;
  color: rgb(30, 41, 59);
  font-weight: 400; 
}

.main-dashboard__container{
  width: 240px;
  height: 176px;
  background-color: rgb(255, 255, 255); 
  border-radius: 12px
}

.main-dashboard__container{
  color: rgb(30, 41, 59);
  display: flex;
  position: static;
  z-index: auto;
  visibility: visible;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  gap: 24px; 
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  background-image: none;
  border: 2px solid #F9FAFB;
  font-family: ui-sans-serif, system-ui, sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: 400; 
}

.main-dashboard__container:hover{
    box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  transition: box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.main-dashboard__task{
  width: 190px;
  height: 32px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-left: 16px;
}

.main-dashboard__task p{
  font-size: 14px;
  font-weight: 500;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

.main-container__box{
   display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-dashboard__complete p{
 color: rgb(30, 41, 59);
 font-weight: 700px;
 font-family: ui-sans-serif, system-ui, sans-serif;
 font-size: 24px;
 margin-bottom: 10px;
}

.main-container__complete span{
  color:rgb(30, 41, 59);
  font-size: 12px;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

.img-containerA{
  width: 32px;
  height: 32px;
  border-radius: 8px;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4743F8;
}

.img-container1{
  background-color: #0092B8;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container2{
  background-color: #00A63E;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container3{
  background-color: #4F39F6;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-recents{
  width: 981px;
  height: 346px;
  background-color: inherit;
  position: absolute;
  top: 260px;
  left: 304px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.dashboard-recents__first-box{
  width: 504px;
  height: 346px;
  position: static;
  border-radius: 12px;
  background-color: #FFFFFF;
}

.dashboard-recents__second-box{
  width: 504px;
  height: 346px;
  position: static;
  border-radius: 12px;
  background-color: #FFFFFF;
  position: relative;
}

.dashboard-recents__task{
  display: flex;
  font-family: ui-sans-serif, system-ui, sans-serif;
  gap:8px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(83, 83, 83);
}

.checkbox-container{
  position: relative;
  top: 60px;
  left: 220px;
}

.dashboard-recents__second-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}


.create-task{
  display: flex;
  border: 1px solid rgb(214, 202, 202);
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  flex-shrink: 0;
  width: 86%;
  height: auto;
  padding: 6px 6px;   
  padding-left: 6px;   
  border-radius: 6px;
  border: 1px solid #e2e8f0;           
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
}

.create-task p{
   font-size: 14px;
  font-weight: 500;
  line-height: normal;
  font-family: ui-sans-serif, system-ui, sans-serif;
  color: var(--text);
  position: relative;
  top:-8px
}

.create-task span{
  color: grey;
  position: relative;
  top: -12px;
}

.create-task:hover{
  background-color: rgb(6, 182, 212);
  color:white;
}

.create-task__image{
  width: 40px;
  height: 40px;
  background-color:rgb(212, 234, 245); 
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}


