<link rel="stylesheet" href="/templates/dashboard/dashboard.css"/>

    <div class="main">
       <!-- <div data-import="/components/sidebar/sidebar.html"></div> -->
        <aside class="side-bar">
            <div class="side-bar__task-master">
                 <div class="img-container">
                  <!-- <div data-import="/components/logo/logo.html" class="logo"></div> -->
                   <img src="/assets/public/logos/square-check.svg"
                     alt="square-check" 
                     class="img-container square-check"/>
                  <!-- <img src="/assets\public\images\circle.svg"
                     alt="circle"
                     class="img-container--circle"/> -->
                  </div>  
                  <h1 class="side-bar__heading">TaskMaster</h1>
                  <img src="/assets/public/images/arrow.svg" alt="arrow" class="arrow"/> 
            </div>
        <div class="side-bar--user-details">
            <div class="side-bar__user-details-name">
               <h2>G</h2>
            </div>
            <div class="side-bar--user-details__user">
                   <h2>Grace</h2>
                   <p>grace@gmail.com</p>
            </div>
           
        </div>
            <div class="sidebar__other-details"></div>
               <button class="side-bar__dashboard">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#000" d="M13.5 9V4H20v5zM4 12V4h6.5v8zm9.5 8v-8H20v8zM4 20v-5h6.5v5zm1-9h4.5V5H5zm9.5 8H19v-6h-4.5zm0-11H19V5h-4.5zM5 19h4.5v-3H5zm4.5-3"/>
                   </svg>
                     <h3>Dashboard</h3>
                </button>
                  <button class="side-bar__dashboard">
                      <img src="/assets/public/images/task.svg" alt="task"/>
                           <h3>Tasks</h3>
                    </button>
                        <button class="side-bar__dashboard">
                          <img src="/assets/public/images/users.svg" alt="task"/>
                              <h3>Community</h3>
                        </button>
                       <button class="side-bar__dashboard">
                           <img src="/assets/public/images/dollar-sign.svg" alt="task"/>
                              <h3>Expenses</h3>
                      </button>

                        <button class="side-bar__dashboard">
                           <img src="/assets/public/images/notes.svg" alt="task"/>
                              <h3>Notes</h3>
                      </button>
                      <button class="side-bar__dashboard">
                           <img src="/assets/public/images/settings.svg" alt="task"/>
                              <h3>Settings</h3>
                      </button>
       </aside>

       <section class="main-dashboard">
          <div class="main-dashboard__container">          
               <div class="main-dashboard__task">
                  <div class="main-container__box">
                     <p>Active Tasks</p>
                   <div class="img-containerA">
                   <img src="/assets/public/logos/square-check.svg"
                     alt="square-check" 
                     class="img-container square-check"/>
                     </div>
                     </div>
                        <div class="main-dashboard__complete">
                           <p>0</p>
                              <span>0 completed</span>
                        </div>
               </div>
          </div>
           <div class="main-dashboard__container">          
               <div class="main-dashboard__task">
                  <div class="main-container__box">
                     <p>Total Expenses</p>
                   <div class="img-container1">
                   <img src="/assets/public/images/dollar-sign.svg" alt="dollar-sign"
                   class="img-container square-check"/>
                     </div>
                     </div>
                        <div class="main-dashboard__complete">
                           <p>0.00</p>
                              <span>This period</span>
                        </div>
               </div>
          </div>
                <div class="main-dashboard__container">          
               <div class="main-dashboard__task">
                  <div class="main-container__box">
                     <p>Total Notes</p>
                   <div class="img-container2">
                   <img src="/assets/public/images/notes.svg" alt="task"/>
                     </div>
                     </div>
                        <div class="main-dashboard__complete">
                           <p>0</p>
                              <span>Saved notes</span>
                        </div>
               </div>
          </div>
                <div class="main-dashboard__container">          
               <div class="main-dashboard__task">
                  <div class="main-container__box">
                     <p>Completion Rate</p>
                   <div class="img-container3">
                   <img src="/assets/public/images/curve.svg" alt="task"/>
                     </div>
                     </div>
                        <div class="main-dashboard__complete">
                           <p>0%</p>
                              <span>Task Completion</span>
                        </div>
               </div>
          </div>
       </section>
        <div class="dashboard-recents">
            <div class="dashboard-recents__first-box">
               <div class="dashboard-recents__task">
                  <img src="/assets/public/images/clock.svg" alt="clock"/>
                  <p>Recent Tasks</p>
               </div>
                  <div class="checkbox-container">
                      <img src="/assets/public/images/checkbox.svg" alt="clock"/>
                        <p>No tasks yet</p>
                  </div>           
            </div>
              
            <div class="dashboard-recents__second-box">
               <div class="dashboard-recents__task">
                  <img src="/assets/public/images/blue-wave.svg" alt="clock"/>
                  <p>Quick Actions</p>
               </div>
                  <div class="create-task">
                     <div class="create-task__image">
                         <img src="/assets/public/images/blue-check.svg" alt="check"/>
                     </div>                  
                        <div>
                          <p>
                              Create a Task                           
                           </p>
                              <span>Add a new task to your list</span>
                        </div>              
                  </div>
                        <div class="create-task">
                     <div class="create-task__image">
                        <img src="/assets/public/images/blue-dollar.svg" alt="task"/>
                     </div>                  
                        <div>
                          <p>
                              Track Expense                      
                           </p>
                              <span>Record a new expense</span>
                        </div>              
                  </div>
                      <div class="create-task">
                     <div class="create-task__image">
                        <img src="/assets/public/images/blue-dollar.svg" alt="task"/>
                     </div>                  
                        <div>
                          <p>
                              Write Note                     
                           </p>
                              <span>Capture your thoughts</span>
                        </div>              
                  </div>
         </div>
         </div>

        
    </div>
        