    <link rel="stylesheet" href="/templates/signup/signup.css"/>

    <form class="form">
          <label for="" class="form__label">Full Name</label>
        <span data-import="components\input\input.html">         
          </span>
        <label for=""class="form__label">Enter your Email</label>
        <span data-import="components\input\input.html" data-placeholder="John Doe" class="form__email">
        </span>
           <label for="" class="form__label">Password</label>
        <span data-import="components\input\input.html" class="form__password">         
          </span>
          <p>password must be at least 6 characters long</p>
          <div class="button">
             <div data-import="/components/button/button.html" class="button__help" >Help</div>
             <div data-import="/components/button/button.html" class="button--create">Create Account</div>
          </div>
     

    </form>
